.btn-success:active · {
    transition: 0s all;
    background-color: darkgreen;
}

.btn-success:active · {
    transition: 1s all;
}
.badge {
    float:right;
}

.clicked span {
    background: green;
}
.input-group span {
    transition: background .2s;
    cursor: pointer;
}