@using BlazorBootstrap
@* @using Microsoft.AspNetCore.SignalR.Client *@
@* @implements IAsyncDisposable *@
@inherits LayoutComponentBase

<PageTitle>BarBestellSystem2</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
</div>

@code
{
    //private HubConnection? _hubConnection;
    [Inject] protected ToastService ToastService { get; set; }

    // protected override async Task OnInitializedAsync()
    // {
    //     _hubConnection = new HubConnectionBuilder()
    //         .WithUrl("https://localhost:5001/notifications")
    //         .Build();
    //
    //     _hubConnection.On<string, string>("ReceiveMessage", (userId, message) =>
    //     {
    //         Console.WriteLine(userId);
    //         Console.WriteLine(message);
    //         ToastService.Notify(new ToastMessage(ToastType.Secondary, message));
    //     });
    //
    //     await _hubConnection.StartAsync();
    // }
    //
    // public bool IsConnected =>
    //     _hubConnection?.State == HubConnectionState.Connected;
    //
    // public async ValueTask DisposeAsync()
    // {
    //     if (_hubConnection is not null)
    //     {
    //         await _hubConnection.DisposeAsync();
    //     }
    // }
}
