@using Microsoft.AspNetCore.SignalR.Client
@using BlazorBootstrap
@implements IAsyncDisposable

<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight"/>
<Button Color="ButtonColor.Primary" @onclick="() => ShowMessage(ToastType.Primary)">Primary Toast</Button>
@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5001/notifications")
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (userId, message) =>
        {
            Console.WriteLine(userId);
            Console.WriteLine(message);
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    List<ToastMessage> messages = [];

    private void ShowMessage(ToastType toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
        => new ToastMessage
        {
            Type = toastType,
            Message = $"Hello, world! This is a simple toast message. DateTime: {DateTime.Now}",
        };

}